.b-content.contact-page .b-content__section {
	min-height: 814px;
}
.b-content.contact-page .b-content__section-header {
	height: 121px;
	width: 100%;
	padding: 0;
	background-color: #48cbe8;
	border-bottom: 17px solid #67dffa;

}

.b-content.contact-page .b-content__section-header h2 {
	padding-top: 40px;
	font-family: 'fira_sansbook';
    font-size: 27px;
    color: #fff;
    text-align: center;
}
.b-contact-form{	
	width: 402px;
	margin: 90px auto;
  	padding: 0px 0 50px 0;
}
.b-contact-form__group{
	margin-bottom: 10px;
	display: inline-block;
	margin-right: 18px;
	width: 189px;
	position: relative;
	

}
.b-contact-form__group:nth-child(3) {
	margin-right: 0;
}
.b-contact-form__group-label {
	display: block;	
	/*margin-bottom: 5px;*/
	color: #adb1bd;
	font-size: 19px;
	font-family: 'fira_sanslight';
	font-weight: 600;

	
}
.b-contact-form__group-data {
	width: 178px;
	border: 1px #48cbe8 solid;
	border-radius: 4px 4px 4px 4px;
	position: relative;
	padding:0px 0 0 10px;
	font-size: 12px;
	height: 35px;
	color: #48cbe8;
	padding-left: 10px;
}

.b-contact-form__group-data::-webkit-input-placeholder {
	color:#48cbe8;
	
}
.b-contact-form__group-data::-moz-placeholder {
	color:#48cbe8;
	
}
.b-contact-form__group-data:-moz-placeholder {
	color:#48cbe8;
	
}
.b-contact-form__group-data:-ms-input-placeholder {
	color:#48cbe8;
	
}


.b-contact-form__group-data.error {
	background-color:#fad2d1;
	border-radius: 4px 4px 4px 4px;
	border: 1px #f97e76 solid;
	padding:0px 0 0 10px;

}

.b-contact-form__group-data.error::-webkit-input-placeholder {
	color:#F97E76;
	
}
.b-contact-form__group-data.error::-moz-placeholder {
	color:#F97E76;
	padding-left: 10px;
}
.b-contact-form__group-data.error:-moz-placeholder {
	color:#F97E76;
	
}
.b-contact-form__group-data.error:-ms-input-placeholder {
	color:#48cbe8;
	
}



.b-contact-form__group-textarea {
	display:block;
	width: 390px;
	position: relative;
	
}

.b-contact-form__group-textarea textarea {
	width: 390px;
	height: 168px;
	border: 1px #48cbe8 solid;
	border-radius: 4px 4px 4px 4px;
	font-size: 12px;
	padding-top: 10px;
	padding-left: 10px;
}

.b-contact-form__group-data.error.textarea {
	background-color:#fad2d1;
	border-radius: 4px 4px 4px 4px;
	border: 1px #f97e76 solid;
	font-size: 12px;
	padding-top: 10px;
	padding-left: 10px;
}


/*_________________________________________________________________________*/


.b-contact-form__group-capcha {
	width:396px;
	margin-bottom: 20px;
	position:relative;
}

.b-contact-form__group-capcha label {
	padding-top: 12px;
	font-size: 15px;
}

.b-contact-form__group-capcha-sign {
	border: 1px #48cbe8 solid;
	border-radius: 4px 4px 4px 4px;
	height: 70px;
	float: left;
	width: 168px;
	margin-right: 20px;
	font-size: 45px;
	font-family: 'fira_sansbold';
	color:#748290;
	padding-top: 8px;
	padding-left: 22px;
}

.b-contact-form__group-data.capcha-enter {
	display: inline-block;
	height: 26px;
	width: 175px;
	margin-top: 23px;
	font-size: 15px;
	padding-left: 5px;
	border: 1px #48cbe8 solid;
	border-radius: 4px 4px 4px 4px;
}
.b-contact-form__group-data.error.capcha-enter {
	border: 1px #f97e76 solid;
	border-radius: 4px 4px 4px 4px;
	
}
/*_________________________________________________________________________*/

.b-contact-form__group-button {
	text-align: center;
	color: #fff;
	font-size: 19px;
	font-family: 'fira_sanslight';
	border-radius: 6px;
	border: none;
	margin-top: 10px;
	
}


.b-contact-form__group-button.submit:hover, .b-contact-form__group-button.reset:hover {
	cursor: pointer;
}

.b-contact-form__group-button.submit {
	background-color: #48cbe8;
	border-bottom: 2px solid #3ba8c0;
	outline:none;
	display: inline-block;
	width: 140px;
	height: 35px;
	float:left;
}
.submit:hover {
	border-bottom: none;
	
	
}
.b-contact-form__group-button.reset {
	background-color: #849db5;
	border-bottom: 2px solid #687b8f;
	outline:none;
	width: 140px;
	height: 35px;
	display: inline-block;
	float:right;
	
}
.b-contact-form__group-button.reset:hover {
	border-bottom: none;
	
	
}





/*__________________________________________________________________________*/



.error-tooltip{
	display: none;
}
.arrow-left {
	height: 26px;
	line-height: 26px;
	padding-left: 18px;
  	padding-right: 18px;
	background-color: #f97e76;
	border-radius: 2px;
	color: #fff;
	font-family: 'fira_sanslight';
	font-size: 12px;
	position: absolute;
	left:-135px;
	top:35px;
}
.arrow-left.text {
	top:108px;
	left:-109px;
}
.arrow-right.code {
	top:58px;
	left:409px;
}
.arrow-left:after {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(249, 126, 118, 0);
	border-left-color: #f97e76;
	border-width: 5px;
 	margin-top: -6px;
}
.arrow-right {
	height: 26px;
	line-height: 26px;
	padding-left: 10px;
  	position: absolute;
	background-color: #f97e76;
	border-radius: 2px;
	color: #fff;
	font-family: 'fira_sanslight';
	font-size: 12px;
	top:35px;
	left:200px;
	min-width:130px;
}
.arrow-right:after {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(249, 126, 118, 0);
	border-right-color: #f97e76;  
	border-width: 6px;
  	margin-top: -7px;
}
/* info block ----------------------------------------------------------------------------*/
.b-contact-form__group.block-info {
	/*position: relative;*/
	width:100%;
}
.form-info {
	/*position: absolute;
	top:0px;
	left:0;*/
	width: 320px;
	margin: 0px auto;	
	text-align: left;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	font-family: 'fira_sanslight';
	font-weight: 600;
	z-index: 999;

}
.info-header, .info-msg {
	margin:0;
}
.info-header {
	position:relative;
}
.info-exit {
	position: absolute;
	top:0px;
	left:300px;
	font-size: 19px;
	cursor: pointer;
}

.form-info.success {
	border: 1px #49bb7b solid;
	border-radius: 4px 4px 4px 4px;
	background-color: #b8e1ce;
	color:#49bb7b;
	display:none;
}

.form-info.fail {
	border: 1px #f9847d solid;
	border-radius: 4px 4px 4px 4px;
	background-color: #f2cccd;
	color:#f9847d;
	display:none;
}