/* job -page _____________________________________________________________________*/
.b-content.job-page .b-content__section{
	min-height: 813px;

}
.b-content__job-section {
	/*padding-top: 29px;*/
}
.b-jobs { 
	margin: 0;
	margin-left: 20px;
	padding-left: 0px;
	padding-top: 30px;

}
.b-jobs__item {
	display: inline-block;
	margin-left: 20px;
	width: 180px;
	margin-bottom: 20px;
	/*float: left;*/
	position: relative;
	vertical-align: top;
	
}
.b-jobs__item:first-child {
	margin-left: 0px;
}
 .b-jobs__item:nth-child(4) {
 	margin-left: 0px;
 }
.b-jobs__item-bg {
	position: absolute;
	display: none;
	margin:0;
	top:0;
	left:0;
	width: 184px;
	z-index: 99;
	background-color: #1879ab;
	opacity: .9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	border-radius: 6px 6px 6px 6px;
	text-align: center;
	padding: 55px 0; 
	font-family: 'fira_sanslight';
	font-weight: 600;
	color: #fff;
	font-size: 13px;


}
.b-jobs__item-foto:hover {
	cursor: pointer;
}

.b-jobs__item-foto:hover .b-jobs__item-bg{
	display: block;
}

.b-jobs__item-foto {
	width: 180px;
	height: 129px;
	

}

.b-jobs__item.new .b-jobs__item-foto {
	background-image: url('../img/add-img.png');
	background-repeat: no-repeat;
	background-position: 75px 35px;
	width: 180px;
	height: 125px;
	border: 2px dashed #3ba8c0;
	border-radius: 6px 6px 6px 6px;
	position: relative;
}
.b-jobs__item.new .b-jobs__item-foto p {
	position: absolute;
	top:80px;
	left:30px;
	margin:0;
	color:#3ba8c0;
	font-family: 'fira_sanslight';
	font-weight: 600;
	font-size: 13;
}

.b-jobs__item-foto-img {
	height: 125px;
	width: 180px;
	border: 2px solid #3ba8c0;
	border-radius: 6px 6px 6px 6px;
}

.b-jobs__item-link, .b-jobs__item-desc {
	text-align: center;
	font-family: 'fira_sanslight';
	font-weight: 600;
}
.b-jobs__item-link {
	
}
.b-jobs__item-link-addr {
	
	font-style: italic;
	font-size: 13px;
	text-decoration: none;
	color: #3ba8c0;
	
}
.b-jobs__item-desc  {
	font-style: normal;
	font-size: 15px;
	color: #687078;
	padding: 10px;
}

/* add site popup_____________________________________________________________________*/

.popup__overlay {
    position: fixed;
    left:  0;
    top:  0;
    width: 100%;
    height: 100%;
    
    text-align: center;
    background-color: #b6bfc7;
    background-color: rgba(126,140,153,0.5);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    display:none;
  }
.popup {
    width: 360px;
    min-height: 520px;
    background-color: #fff;
    display: inline-block;
    vertical-align: middle;
    border-radius: 6px 6px 6px 6px;
    zoom:1;
    z-index: 999;
} 
.popup__overlay:after {
    display: inline-block;
    width:  0;
    height: 100%;
    vertical-align: middle;
    content: ''
} 
.form-add-site {
	

}

.form-add-header {
	/*position: absolute;*/
	position: relative;
	border-radius: 6px 6px 0px 0px;
	background: #48cbe8;
	color: #fff;
	text-align: left;
	margin: 0;
	border-bottom: 10px solid #3ba8c0;
	height: 45px;
} 
.form-add-header h2 {
	font-family: 'fira_sansbook';
    font-size: 25px;
    font-weight: normal;
    width:348px;
    padding-top:6px;
    padding-left: 12px;
    margin:0;
}
.form-add-exit {
	position: absolute;
	top:10px;
	left:320px;
	cursor: pointer;
}
.form-add-content {
	padding-top: 10px;

}
.form-add-section {
	width: 320px;
	position: relative;
	margin: 0 auto;
}
.form-add-label {
	display: block;
	text-align: left;
	color: #adb1bd;
	font-size: 19px;
	font-family: 'fira_sanslight';
	font-weight: 600;
}
.form-add-data {
	height:38px;
	border: 1px #48cbe8 solid;
	border-radius: 4px 4px 4px 4px;
	font-size: 12px;
	color: #60d2eb;
	padding-left: 10px;
	width: 320px;
	
}
.form-add-data.error, .form-add-data.textarea.error {
	background-color:#fad2d1;
	border-radius: 4px 4px 4px 4px;
	border: 1px #f97e76 solid;
}
.form-add-data.textarea {
	height: 110px;
	padding-top: 10px;
	width: 315px;
}

.form-add-data::-webkit-input-placeholder {
	color:#48cbe8;
	padding-left: 5px;
}
.form-add-data::-moz-placeholder {
	color:#48cbe8;
	padding-left: 5px;
}
.form-add-data:-moz-placeholder {
	color:#48cbe8;
	padding-left: 5px;
}
.form-add-data:-ms-input-placeholder {
	color:#48cbe8;
	padding-left: 5px;
}
.form-add-data.error::-webkit-input-placeholder {
	color:#F97E76;
	padding-left: 5px;
}
.form-add-data.error::-moz-placeholder {
	color:#F97E76;
	padding-left: 5px;
}
.form-add-data.error:-moz-placeholder {
	color:#F97E76;
	padding-left: 5px;
}
.form-add-data.error:-ms-input-placeholder {
	color:#F97E76;
	padding-left: 5px;
}
.img-download {
	/*position:relative;*/
}
.file-upload {
	position:absolute;
	top:30px;
	width: 330px;
	height: 40px;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	z-index: 99;
	left: 0px;

}
#text-file-box {
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.project-img-button {
	position:absolute;
	top:30px;
	left:280px;
}
.arrow-left.add {
	right: 330px;
	left: -200px;
}
.form-add-button {
	width: 140px;
	height: 35px;
  	margin-top: 10px;
  	margin-bottom: 30px;
	text-align: center;
	color: #fff;
	font-size: 18px;
	font-family: 'fira_sanslight';
	border:none;
	border-radius: 6px;
	display: inline;
	outline: none;
}

.form-add-button.submit:hover {
	cursor: pointer;
	border:none;
	outline: none;
}

.form-add-button.submit {
	background-color: #48cbe8;
	border-bottom: 2px solid #3ba8c0;
	outline: none;
	
}

/* info block ----------------------------------------------------------------------------*/
.form-add-section .block-info {
	/*position: relative;*/
}
.form-info {
	/*position: absolute;
	top:0px;
	left:0;*/
	width: 320px;
	margin: 0px auto;	
	text-align: left;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	font-family: 'fira_sanslight';
	font-weight: 600;
	z-index: 999;

}
.info-header, .info-msg {
	margin:0;
}
.info-header {
	position:relative;
}
.info-exit {
	position: absolute;
	top:0px;
	left:300px;
	font-size: 19px;
	cursor: pointer;
}

.form-info.success {
	border: 1px #49bb7b solid;
	border-radius: 4px 4px 4px 4px;
	background-color: #b8e1ce;
	color:#49bb7b;
	display:none;
}

.form-info.fail {
	border: 1px #f9847d solid;
	border-radius: 4px 4px 4px 4px;
	background-color: #f2cccd;
	color:#f9847d;
	display:none;
}

