/* login page _____________________________________________________________________*/
.b-page-content.login:before {
	display: none;
}

  
.popup-login {
    width: 593px;
    height: 487px;
    background-color: #fff;
    display: inline-block;
    vertical-align: middle;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    filter: progid:DXImageTransform.Microsoft.dropshadow(offX=5, offY=5, color=#000000);
    margin-left: 180px;
    margin-top: 275px;
    margin-bottom: 140px;
} 
.popup__overlay-login:after {
    display: inline-block;
    width:  0;
    height: 100%;
    vertical-align: middle;
    content: ''
} 
.form-login {
	

}

.form-login-header {
	position: relative;
	border-radius: 6px 6px 0px 0px;
	background: #48cbe8;
	color: #fff;
	text-align: center;
	margin: 0;
	padding-top: 20px;
	border-bottom: 10px solid #67dffa;
	height: 80px;
} 
.form-login-header h2 {
	font-family: 'fira_sansbook';
    font-size: 40px;
    font-weight: normal;
    padding: 0;
    margin:0;
}

.form-login-content {
	padding-top: 20px;
	background-color:#eff3f7;

}
.form-login-section {
	width: 425px;
	margin: 0 auto;
	position: relative;
	text-align: center;
}
.form-login-label {
	display: block;
	text-align: center;
	color: #adb1bd;
	font-size: 36px;
	font-family: 'fira_sanslight';
	font-weight: 600;
}
.form-login-data {
	width: 425px;
	height:62px;
	border: 1px #48cbe8 solid;
	border-radius: 4px 4px 4px 4px;
	font-size: 17px;
	color: #60d2eb;
	margin-bottom: 20px;
	padding-left: 5px;
	
}
.form-login-data.error {
	background-color:#fad2d1;
	border-radius: 4px 4px 4px 4px;
	border: 1px #f97e76 solid;
}

.form-login-data::-webkit-input-placeholder {
	color:#48cbe8;
	padding-left: 10px;
}
.form-login-data::-moz-placeholder {
	color:#48cbe8;
	padding-left: 10px;
}
.form-login-data:-moz-placeholder {
	color:#48cbe8;
	padding-left: 10px;
}
.form-login-data:-ms-input-placeholder {
	color:#48cbe8;
	padding-left: 10px;
}

.arrow-left.login {
	top: 75px;
	right: 430px;
	left: -180px;
}
.form-login-button {
	width: 225px;
	height: 50px;
  	text-align: center;
	color: #fff;
	font-size: 34px;
	font-family: 'fira_sanslight';
	border-radius: 6px;
	margin-bottom: 24px;
	
}

.form-login-button.submit:hover {
	cursor: pointer;
}

.form-login-button.submit {
	background-color: #48cbe8;
	border-bottom: 2px solid #3ba8c0;
	
}