html, body {
    height: 100%;
}

html {
	
    /*line-height: 1.4;*/
    font: 100%/1.5em;
}
.wrapper {
	 min-height: 100%;
     height: auto !important;
     height: 100%;
     margin: 0 auto -80px;

}

/* header _____________________________________________________________________*/
.b-page-header {
	height: 116px;
	background-color: #eff3f7;
	
	
}
.b-header-container {
	height: 116px;
	background-color: #eff3f7;
	max-width: 1200px;
	min-width: 960px;
	height: 100%;
	margin: 0 auto;
	position: relative;
}


.b-page-content {
	background: url('../img/comppattern2.png') ;
	position:relative;
	

	
}
.b-page-content:before, .b-page-footer:before {
	content:"";
  	display:block;
  	height: 3px; /* Old browsers rgb(239,243,247)*/
	background:#317486; /* FF3.6+ */
	background:-moz-linear-gradient(left,  rgba(239,243,247,1) 1%, rgba(29,102,122,1) 49%, rgba(29,102,122,1) 51%, rgba(239,243,247,1) 100%); /* Chrome,Safari4+ */
	background:-webkit-gradient(linear, left top, right top, color-stop(1%,rgba(239,243,247,1)), color-stop(49%,rgba(29,102,122,1)), color-stop(51%,rgba(29,102,122,1)), color-stop(100%,rgba(239,243,247,1))); /* Chrome10+,Safari5.1+ */
	background:-webkit-linear-gradient(left,  rgba(239,243,247,1) 1%,rgba(29,102,122,1) 49%,rgba(29,102,122,1) 51%,rgba(239,243,247,1) 100%); /* Opera 11.10+ */
	background:-o-linear-gradient(left,  rgba(239,243,247,1) 1%,rgba(29,102,122,1) 49%,rgba(29,102,122,1) 51%,rgba(239,243,247,1) 100%); /* IE10+ */
	background:-ms-linear-gradient(left,  rgba(239,243,247,1) 1%,rgba(29,102,122,1) 49%,rgba(29,102,122,1) 51%,rgba(239,243,247,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eff3f7', endColorstr='#eff3f7',GradientType=1 ); /* IE6-9 */
}
.b-logo {
	position: absolute;
	top: 37px;
	left:25px;
}
.b-socials {
	position: absolute;
	list-style: none;
	top: 35px;
	right: -22px;
	padding: 0;
	margin:0;
	
}
.b-socials__icon {
  display: inline-block;
  text-decoration: none;
  margin-left: 19px;
 }

.b-socials__icon:first-child {
	margin-left: 0;
}

.b-social-link:first-child {
  
}
.b-social-link__vk {
	width: 47px;
    height: 47px;
    background-position: -5px -119px;
}
.b-social-link__vk:hover {
	width: 47px;
    height: 47px;
    background-position: -62px -119px;
}
.b-social-link__fb {
	width: 47px;
    height: 47px;
    background-position: -5px -5px;
}
.b-social-link__fb:hover {
	width: 47px;
    height: 47px;
    background-position: -62px -5px;
}
.b-social-link__tw {
	width: 47px;
    height: 47px;
    background-position: -149px -5px;
}
.b-social-link__tw:hover {
	width: 47px;
    height: 47px;
    background-position: -149px -62px;
}
.b-social-link__git {
	width: 47px;
    height: 47px;
    background-position: -5px -62px;
}
.b-social-link__git:hover {
	width: 47px;
    height: 47px;
    background-position: -62px -62px;
}
/* wrapper content _____________________________________________________________________*/
.b-page-content-container {
	
	max-width: 1200px;
	min-width: 960px;
	margin: 0 auto;
	padding-left: 50px;
}
.b-page-content:after {
	content: "";
	display: block;
	height: 12px;
}
.b-main-content {
	width: 960px;
	margin: 0 auto;
	

}
/* sidebar _____________________________________________________________________*/
.b-sidebar {
	float: left;
	padding-top: 39px;
	

}
.b-navigation {
	width: 250px;
	margin-top: 0;
	margin-bottom: 23px;
	
}
.b-navigation__items {
	list-style: none;
	margin: 0;
	padding: 0;

	
}


.b-navigation__item {
  display: block;
  text-decoration: none;
  background: #eff3f7 ;
  position: relative;
  padding-top: 20px;
  padding-bottom: 18px;
  padding-left: 28px;
} 

/*.b-navigation__item:nth-child(odd) {
	background: #eff3f7 url('../img/underline.png') no-repeat center top;
}
.b-navigation__item:first-child {
	background: #eff3f7 url('../img/underline.png') no-repeat center bottom;
}

.b-navigation__item:first-child {
	border-radius: 4px 4px 0 0;
}
*/
.b-navigation__item:nth-child(even):before, .b-navigation__item:nth-child(odd):before {
	content:"";
  	height: 2px;
  	background: #3ba8c0;
  	position: absolute;
  	display: block;
  	top: -2px;
  	left: 12px;
  	width: 224px;
  	margin: 0 auto;
  	
}
.b-navigation__item:first-child:before {
	display: none;
}
/*.b-navigation:nth-child(odd):before, .b-navigation:nth-child(odd):after {
	content:"";
  	height: 2px;
  	margin-left: 10px;
  	background: #3ba8c0;
  	position: absolute;
  	display: block;
  	top: -2px;
  	width: 224px;
  	
}*/


/*.b-navigation__item:nth-child(2):before {
	
}*/
.b-navigation__item:last-child {
	border-radius: 0 0 4px 4px;
}
.b-navigation__item.active {
	background-color: #3ba8c0;
	
}
.b-navigation__item.active .b-navigation__item-link {
	font-family: 'fira_sansbook';
	font-size: 22px;
}
.b-navigation__item.active:before, .b-navigation__item.active:last-child:before {
	display: none;
}

.b-navigation__item.active .b-navigation__item-link {
	color: #fff;
}
.b-navigation__item.disable .b-navigation__item-link {
	color: #959aa8;
}
.b-navigation__item-link {
  text-decoration: none;
  color:#3ba8c0;
  /*top: 20px;
  left:27px;*/
  font-family: 'fira_sansbook';
  font-size: 22px;
 /* position: absolute;*/ 
  
}

.b-contacts {
	font-family: 'fira_sansbook';
	font-style: normal;
	width: 250px;
}

.b-contacts__list {
	list-style: none;
	padding: 0;
	margin:0;
	
	
}

.b-contacts__list-item-link {
  display: block;
  text-decoration: none;
  /*width:250px;*/
  background-color: #eff3f7;
  color: #fff;
  padding-left: 84px;
  padding-top: 8px;	
  padding-bottom: 4px;
 } 
.b-contacts__list-item-link.header-link {
  padding-left: 21px;
  padding-top: 9px;
}
.b-contacts__item-link {
  text-decoration: none;
  color:#fff;
  font-size: 16px;
  font-family: "fira_sanslight";


}
.b-contacts__item-link:hover {
	text-decoration: underline;
}
.b-contacts__item-header {
	font-size:21px;
	font-family: "fira_sanslight";
	/*padding-left: 15px;
	padding-top: 4px;*/
	
}
.b-contacts__list-item-link:first-child {
	border-radius: 4px 4px 0 0;
}
.b-contacts__list-item-link:last-child {
	border-radius: 0 0 4px 4px;
}
.header-link {
	background: #3ba8c0;
	
}
.mail-link {
	background: #41b9d4 url('../img/mail.png') no-repeat 41px 11px;
}
.phone-link {
	background: #48cbe8 url('../img/phone.png') no-repeat 43px 7px;
}
.skype-link {
    background: #51daf8 url('../img/skype.png') no-repeat 43px 8px;
}
/* content  _____________________________________________________________________*/

.b-content  {
	width: 650px;
	float: right;
	padding-top: 40px;
	margin-right: 0px;
}
.b-content__section {
	border-radius: 6px 6px 6px 6px;
	background-color:#eff3f7;
	margin-bottom:24px;
	position:relative;
	padding-bottom:23px;
}
.b-content__section:first-child {
}
.b-content__section:last-child {
    margin-bottom: 29px;
}

.b-content__section-header {
	position: absolute;
	border-radius: 6px 6px 0px 0px;
	background-color: #eff3f7;
	color: #3ba8c0;
	border-bottom: 2px solid #3ba8c0;
	height:44px;
	padding:11px 22px 10px 22px;
	

} 
.b-content__section-header h2 {
	font-family: 'fira_sansbook';
    font-size: 27px;
    font-weight: normal;
    margin: 0;
}
.b-content__section-article {
	padding-top :70px;
}

.b-my-image {
	float:left;
	/*padding-bottom: 46px;*/
	margin-top: 40px;
	margin-left: 55px;
	margin-right: 23px;

}
.b-my-image__foto {
	display: block;
	border: 5px solid #3BA8C0;
	border-radius: 90px 90px;
	width:142px;
	height:142px;
}
.b-privat-info {
	list-style:none;
	margin-top:19px;
	display: table;
	padding: 0;
	
	
}
.b-privat-info__item {
	padding-bottom: 4px;
	
	
}
.b-privat-info__item-query, .b-privat-info__item-data{
	/*vertical-align: top;*/
	/*display: inline-block;*/
}
.b-privat-info__item-query {
	font-family: 'fira_sansmedium';
    font-size: 17px;
    color: #4a545d;
    display: table-cell;
    vertical-align: top;
    white-space: nowrap;
    padding-top: 2px;
    

}
.b-privat-info__item-data {
	color: #555f67;
	font-family: 'fira_sansbook';
	font-size: 15px;
	font-weight: 600;
	
	padding-left: 17px;
	display: table-cell;
	vertical-align: top;
	padding-top: 5px;	
}
.my-name {
	color: #37424d;
	
	}
.b-key-list {
	list-style: none;
	padding-left: 2px;
	display:inline-block;
	width:240px;
}
.b-key-list__item {
	border-radius: 3px 3px 3px 3px;
	color: #fff;
	font-family: 'fira_sansbook';
    text-align: center;
	background: rgb(59,168,192); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(59,168,192,1) 1%, rgba(59,168,192,1) 50%, rgba(46,140,162,1) 51%, rgba(46,140,162,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(59,168,192,1)), color-stop(50%,rgba(59,168,192,1)), color-stop(51%,rgba(46,140,162,1)), color-stop(100%,rgba(46,140,162,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(59,168,192,1) 1%,rgba(59,168,192,1) 50%,rgba(46,140,162,1) 51%,rgba(46,140,162,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(59,168,192,1) 1%,rgba(59,168,192,1) 50%,rgba(46,140,162,1) 51%,rgba(46,140,162,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(59,168,192,1) 1%,rgba(59,168,192,1) 50%,rgba(46,140,162,1) 51%,rgba(46,140,162,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(59,168,192,1) 1%,rgba(59,168,192,1) 50%,rgba(46,140,162,1) 51%,rgba(46,140,162,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3ba8c0', endColorstr='#2e8ca2',GradientType=0 );
	height: 19px;
	display: inline-block;
	font-size: 12px;
	margin-top: 7px;
	margin-right: 6px;
	padding: 0px 13px; /* IE6-9 */

}

/* content  _   work info____________________________________________________________________*/

.b-work-info {
	list-style: none;
	margin:0;
	margin-top: 16px;
	
	
}

.b-work-info__item {
	background:url('../img/suit.png') no-repeat 20px center;
	padding-left:85px;
	margin-bottom: 7px; 
}
.b-work-info__item:last-child {
	margin-bottom: 16px;
}

.b-work-info__item-where {
	color:#4a545d;
	font-family: 'fira_sansbook';
    font-size: 17px;
    font-weight: 600;

	
}
.b-work-info__item-when {
	color:#4a545d;
	font-family: 'fira_sanslight';
    font-size: 15px;
    font-weight: 600;
}
/* content  _   study info____________________________________________________________________*/

.b-study-info {
	list-style: none;
	margin:0;
	margin-top: 16px;
}
.b-study-info__item {
	padding-left:85px;
	margin-bottom:10px; 
}
.b-study-info__item.uni-study {
	background:url('../img/course.png') no-repeat 18px center;
}
.b-study-info__item.course-study {
	background:url('../img/study.png') no-repeat 25px center;
}
.b-study-info__item:last-child {
	margin-bottom: 10px;
}
.b-study-info__item-where {
	color:#4a545d;
	font-family: 'fira_sansbook';
    font-size: 17px;
    font-weight: 600;
	
}
.b-study-info__item-when {
	color:#4a545d;
	font-family: 'fira_sanslight';
    font-size: 15px;
    font-weight: 600;
}


/* footer _____________________________________________________________________*/
.push {
	height: 80px;
}

.b-page-footer {
 /*width: 1400px;*/
 background-color: #eff3f7;
 text-align: center;
 height: 80px;
 margin-top: 0px;	
}
.b-user-login {
	padding-top:23px;
	margin-left: 251px;
	float:left;
	width:32px;
}
.b-user-login__link {
	width: 20px;
    height: 32px;
    background-position: -119px -5px;
}
.b-user-login__link:hover {
	width: 20px;
    height: 32px;
    background-position: -119px -47px;
}

.b-copyright {
	text-align: center;
	padding-top: 28px;
	width: 1116px;
	font-family: 'fira_sanslight';
    font-size: 13px;
	
}

/* clear _____________________________________________________________________*/
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* hide links _____________________________________________________________________*/
.text-hide {
   text-indent: 100%;
   white-space: nowrap;
   overflow: hidden;
}
.logo-hide {
	 font: 0/0 serif;
    text-shadow: none;
    color: transparent;
}